// Bardzo ogólne klasy (np. container)

html, body {
  background-color: var(--color-beige-light);
}

// ================ GŁÓWNY KONTENER ================ 
.container {
  max-width: map-get($map: $breakpoints, $key: 'xxl');
  margin: 0 auto;
  padding: 0 var(--spacing-lg); // 2rem - 32px
  width: 100%;  // bezpieczeństwo dla małych ekranów
}

// ================ UNIWERSALNA SEKCJA ================
.section {
  padding: var(--spacing-lg), 0;

  // na tabletach i desktopach zwiększamy przestrzeń do 64px
  @include respond-to('md') {
    padding: var(--spacing-xl), 0;
  }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}