header {
    background: var(--gradient-beige-to-light);
    background-color: var(--color-beige-dark);
}

main {
    background: var(--color-beige-light);
    background-color: var(--color-beige-light);
}

footer {
    background: var(--gradient-beige-to-dark);
    background-color: var(--color-beige-dark);
}